body {
  margin: 1em;
  padding: 0;
  font-family: sans-serif;
}

.icon.refresh {
  display: inline-block;
  vertical-align: middle;
}

.icon.delete{
  position: absolute;
  top: 12px;
  right: 12px;
}

.icon svg{
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
}

.darken-3 input[type=text]:not(.browser-default) {
  color: white;
}

.card .card-content .card-title__history {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-left: 0.5em;
}

.message-history-container{
  padding-top: 1em;
}

.no-messages {
  padding: 24px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.message-container {
  padding-right:72px;
}

.text-container {
  display: flex;
}

.details {
  padding-left: 24px;
  padding-top: 12px;
  font-weight: bold;
}
